---
---
@import "main";
@import "variables";

#name {
    color: $incBlue;
    display: inline;
}

html {
    text-align: center;
}

h1 {
    font-size: 180%;
}

body {
    font-family: 'HelveticaNeueLight', Arial, sans-serif;
    font-size: 130%;
    text-align: center;
    position: relative;
    top: 200px;
} 
